<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="epc.labs.cyborgcam">
    <uses-permission android:name="android.permission.CAMERA" />
    <application>
         <activity android:name=".CyCam" android:label="Cyborg Cam" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
